
<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <title>commotion-239171189 - Chat Application - LuCI</title>
  <link rel="stylesheet" href="/css/cascade.css">
 </head>

 <body class="lang_en Chat Application">
  <header>
   <div class="fill">
    <div class="container">
     <a class="brand" href="#">commotion-239171189</a>
     <ul class="nav">
        <li class="dropdown">
            <a class="menu" href="/cgi-bin/luci/commotion/index">Overview</a>
	 <ul class="dropdown-menu">
	  <li><a href="/cgi-bin/luci/commotion/index/index">Front Page</a></li>
	  <li><a href="/cgi-bin/luci/commotion/index/olsr-viz">OLSR-Viz</a></li>
	</ul>
        </li>
	
        <li class="dropdown">
            <a class="menu" href="/cgi-bin/luci/commotion/apps">Applications</a>
	 <ul class="dropdown-menu">
	  <li><a href="/cgi-bin/luci/commotion/apps/hello">Test Page</a></li>
	  <li><a href="/cgi-bin/luci/commotion/apps/chatapp">Chat Application</a></li>
	</ul>
        </li>
	
	</ul>

	
    </div>
   </div>
  </header><div id="maincontent" class="container">


<head>
    <script src="/luci-static/resources/jquery.min.js" type="text/javascript"></script>
    <script src="/luci-static/resources/commotion-ws.js" type="text/javascript"></script>

    <title>Commotion Chat Application</title>

    <style type="text/css">
        

/* Spinning, gradient circle; CSS only! */
#connected {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  float:left;
  margin-right:5px;
}

        #msg{width:67%; margin-right:5px;}
        #message-type{ display:none;}
        .green {background-color: green;}
        .red{background-color: red;}

        .content {width:100%; height:400px;}
        
        .chat-container{
            float: left;
            width: 79%;
            height:100%;
        }
        
        .chatwindow{ height:100%;
            border: 1px solid #CCCCCC;
            border-radius: 3px 3px 3px 3px;
            color: #808080;
            padding:3px;
        }
        .chatwindow ul {list-style: none; padding: 0; margin: 0;}
        .chatwindow li {list-style: none;}
        #clients ul {list-style: none; padding: 0; margin: 0;}
        #clients ul li {list-style: none; text-align:center; margin-bottom:4px; cursor:pointer;}
        #clients { float:right; width:20%;height:100%; overflow:auto; }
        #clients .active{ color: #F69; }
        
        .norm{color:black;}
        .error{color: #66ccff;}
    </style>
</head>

<h3>Demo Chat Application</h3>

<div id="connected" class="red" ></div>
<input class="showOnConnect" id="msg" size="50" type="text" name="msg"/>
<a class="breadcrumb" id="send-msg" href="#">Send</a>

<br>
<br>
<div class="content">
<div class="chat-container">
    
    <div class="chatwindow showOnConnect">
        <ul>
            
        </ul>
    </div>
</div>

<div class="showOnConnect" id="clients">
    <ul></ul>
</div>
</div>


<script type="text/javascript">
var ws_server = "ws://"+window.location.hostname+":7681";

$(document).ready(function(){
    
    // Create a application specific data
    var appData = {
        clients : []
    };
    
    var cws = new CommotionSocket(ws_server,["chat-server","other-app"],function(){
        $("#connected").removeClass("red");
        $("#connected").addClass("green");
        $(".showOnConnect").show();
    });
    
    cws.onclose(function(){
        $("#connected").removeClass("green");
        $("#connected").addClass("red");
        $(".showOnConnect").hide();
    });
    
    cws.ontopologychange(function(msg){
       
        var cliientList = $("#clients ul"); 
        $(cliientList).html("");
        appData.clients=[];
        appData.activeClient = 0;
        var i=0;
        $(cliientList).append('<li class="active breadcrumb" id="'+(i++)+'">All Clients</li>');
        cws.forclients(function(client){
            appData.clients.push(client);
            $(cliientList).append('<li class="breadcrumb" id="'+(i++)+'">'+client.hostname+"-"+client.id+'</li>');
        });
          
    });
        
    $($("#clients li")).live("click",function(id){
        var idx = $(this).attr('id');
        appData.activeClient = idx;
        $(this).addClass("active");
        $(this).siblings().removeClass("active");
    });
    
    cws.on(["norm","error"],function(ret){
        var idx=0;
        cws.forclients(function(client){
          if(ret.src.address.equals(client.address)){
            var d = new Date();
            var h=d.getHours();
            var m=d.getMinutes();
            var s=d.getSeconds();
            var time = h+":"+m+":"+s;   
                $('.chatwindow').append('<li class='+ret.message_type+'><b>'+time+"  "+client.hostname+'</b> - '+ret.data+'</li>');
                return;
          }
          idx++;
        });
    })

    $("#send-msg").click(function(){
        if(appData.activeClient == 0) {
            cws.broadcast("error",$(msg).val());
        }else{
            cws.send(appData.clients[appData.activeClient-1].address,"norm",$("#msg").val());
        }
        $("#msg").val("");
    });

})

</script>

   <footer><a href="http://luci.subsignal.org/">Powered by LuCI Trunk (trunk+svn8676)</a>

    CommotionWRT Pre-Release PR2.1

    
     <ul class="breadcrumb pull-right" id="modemenu">
	    
		    <li class="active"><a href="/cgi-bin/luci/commotion/">Commotion</a> <span class="divider">|</span></li>
	    
		    <li><a href="/cgi-bin/luci/admin/">Administration</a> <span class="divider">|</span></li>
	    
     </ul>
    
   </footer>
   </div>
  </div>
 </body>
</html>

